{% extends 'base.html' %}
{% block content %}

<h1>Profile</h1>

{% for profile in profiles %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ profile.user }}</span>
            <p>Phone: {{ profile.phone }}</p>
            <p>address: {{ profile.address }}</p>
			<p>Post code:{{ profile.postal_code }}</P>
			<p>city:{{ profile.city }}</P>
			<p>country:{{ profile.country }}</P>
			<p>Birthday:{{ profile.birthday }}</P>
        </div>
		{% comment %} <div class="card-action">
			<a href="{% url 'profiles_update' user.id %}">Edit</a>
		</div> {% endcomment %}
    </div>
{% endfor %}

{% endblock %}