{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="card md-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="{{book.book_img}}" class="card-img" alt="">
				</div>
				<div class="col-md-8">
					<div class="card-body text-left">
						<h5 class="card-title">{{ book.title }}</h5>
						<p><strong>Author:&nbsp</strong> {{ book.author }}</p>
						<p><strong>Published:&nbsp</strong>{{ book.year_published }}</P>
						<p><strong>Publisher:&nbsp</strong>{{ book.publisher }}</P>
						<p><strong>Price:&nbsp</strong>{{ book.price }}</P>
						<p><strong>ISBN:&nbsp</strong>{{ book.isbn }}</P>
						{% if book.quantity > 0 %}
							<p><strong>Quantity:&nbsp</strong> {{ book.quantity }}</p>
						{% else %}
							<p><strong>Status:&nbsp</strong> Not available now</p>
						{% endif %}
					</div>
				</div>
				<p class="text-left"><strong>Description:&nbsp</strong>{{ book.description }}</P>
			</div>
			<form action="{% url 'increase_quantity' book.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-outline-dark mt-auto" value="Add To Cart">
			</form>
		</div>
	</div>
</div>

{% endblock %}