{% extends 'base.html' %}
{% block content %}

<h3>Books</h3>
<div class="container">
    <div class="row">
    {% for book in books %}
        <div class="card-deck">
            <a class="" href="{% url 'detail' book.id %}">
                <div class="card">
                    <img class="card-img-top" src="{{ book.book_img }}" alt="{{ book.title }}-image">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ book.title| truncatechars:30 }}</h5>
                        <ul class="card-text">
                            <li class="author">by&nbsp<Strong> {{ book.author| truncatechars:20 }}</Strong></li>
                            <div class="pricediv">
							<li class="price"><Strong>$</Strong> {{ book.price}}</li>
                        	</div>
						</ul>
                        <a href="#" class="btn btn-outline-dark mt-auto">Add To Cart</a>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}