<div id="forever">
{% extends 'base.html' %}
{% block content %}


    <div class="row justify-content-center align-items-center">
        <div class="card" id="jry">
            <img src="https://avatars2.githubusercontent.com/u/16749881?s=400&v=4" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Joaquim Grilo</h5>
                <p class="card-text">Developing From Static to Augmented Reality.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Full-Stack developer</li>
                <li class="list-group-item">HTML/CSS/JavaScript</li>
                <li class="list-group-item">Python Django</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/pgrilo92" class="card-link">Github</a>
                <a href="https://www.joaquimgrilo.com" class="card-link">Contact me</a>
            </div>
        </div>

        <div class="card" id="jry">
            <img src="https://avatars1.githubusercontent.com/u/54381512?s=460&v=4" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Yang Chen</h5>
                <p class="card-text">Live well, Love lots and Laugh often</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Full-Stack developer</li>
                <li class="list-group-item">HTML/CSS/JavaScript</li>
                <li class="list-group-item">Python Django</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/chenyanghmilu" class="card-link">Github</a>
                <a href="#" class="card-link">Contact me</a>
            </div>
        </div>

        <div class="card" id="jry">
        <img src="https://avatars2.githubusercontent.com/u/32579177?s=400&v=4" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Roger Takeshita</h5>
            <p class="card-text"> What you do today can be automated tomorrow.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Full-Stack developer</li>
            <li class="list-group-item">HTML/CSS/JavaScript</li>
            <li class="list-group-item">Python Django</li>
        </ul>
        <div class="card-body">
            <a href="https://github.com/Roger-Takeshita" class="card-link">Github</a>
            <a href="#" class="card-link">Contact me</a>
        </div>
        </div>
    </div>
    </div>
<div class="container" id="introteam">
    <h4>This is a fun team, This is an efficient team, This is an invincible team. They paly hard, They play harder, Noting can stop them, glory will be BookFellas</h4>
</div>
{% endblock %}
</div>