{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <hr>
    {% for item in items %}
        <div class="card" style="width:400px">
            <img class="card-img-top" src="{{ item.book_img }}" alt="{{ item.volumeInfo.title }}-image">
            <div class="card-body">
                <h4 class="card-title">{{ item.title }}</h4>
                <ul class="card-text">
                    <li><Strong>Publisher:</Strong> {{ item.publisher }}</li>
                    <li><Strong>Published Date:</Strong> {{ item.year_published }}</li>
                    <li><Strong>Authors:</Strong> {{ item.author }}</li>
                    <li><Strong>ISBN:</Strong> {{ item.isbn}}</li>
                    <li><Strong>Quantity:</Strong> {{ item.quantity}}</li>
                    <li><Strong>Quantity:</Strong> {{ item.price}}</li>
                </ul>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}