* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.row {
    text-align: center;
    justify-content: center;
}

#results {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
.card {
    max-width: 540px;
}
.card img {
    max-height: 50vh;
    max-width: 50vh;
}
.card-deck {
    width: 18rem;
    padding: 10px;
}
.card-deck img{
    height: 30vh;
}

.card-text {
    text-align: left;
}

th {
    text-align: center;
}

th>label {
    margin-top: .5rem;
}

td>input {
    height: 40px;
    width: 100%;
}

table {
    margin-top: 30px;
}

.container {
    margin-top: 30px;
}

#search-input {
    height: 45px;
    width: 250px;
    border-radius: 5px;
}

#submit {
    margin-bottom: 0;
    height: 45px;
    width: 80px;
    border-radius: 5px;
}

.jumbotron {
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1890,w_3363,x_0,y_193/f_auto,q_auto,w_1100/v1565628997/shape/mentalfloss/gettyimages-944631208.jpg);
    background-size: cover;
    height: 500px;
    width: 1000px;
    margin: 30px auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: rgb(245, 228, 135);
    text-align: center;
    font-size: 80px;
}