{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Title</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
				</tr>
			</thead>
			<tbody>
				{% for product_item in product_items %}
					<tr>
						<th scope="row"><img src="{{ product_item.book.book_img }}"></th>
						<td>{{ product_item.book }}</td>
						<td>{{ product_item.price }}.00</td>
						<td>
							<form action="/cart" method="POST" class='quantity-bar'>
								<input
									type="number"
									name="{{ user.quantity }}"
									class="form-control"
									min="0"
									step="1"
									value="{{ product_item.quantity }}"
								>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="#" class="btn btn-success">Check out</a>
	</div>
{% endblock %}